{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Lyricize <small>your life with hearty lyrics.</small></h1>
    <p>Life is complicated. Life is simple. Life needs music to make it beautiful. Melody is the light and lyric is the key.</p>
    {% if user.is_authenticated %}
    <p><a class="btn btn-primary" href="/new" role="button">Submit lyric &raquo;</a> <a class="btn btn-success" href="/my" role="button">My account &raquo;</a></p>
    {% else %}
    <p><a class="btn btn-primary" href="/register" role="button">Register &raquo;</a> <a class="btn btn-success" href="/login" role="button">Login &raquo;</a></p>
    {% endif %}
    
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- TODO: Add cards  -->
  </div>
</div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}

{% block style %}
<style>
h1.display-3 small{
  font-size: 50%
}
</style>
{% endblock %}