{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-10">
      <div class="headSpace"></div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ lyric.text|linebreaksbr }}</h5>
        </div>
        <div class="card-header">
            By {{ lyric.author }} <br />
            From {{ lyric.source }}<br />
            Submitted by {{ lyric.user }} <br />
            <hr />
            Categories: {{ lyric.category }}
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
    <div id="idShow">#{{ lyric.id }}</div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $('#idShow').css('right', window.innerWidth - $('.col-md-1')[1].offsetLeft * 1.1 );
</script>
{% endblock %}

{% block style %}
<style>
  h5.card-title {
    font-size: 1.5rem
  }
  #rightCol {
    text-align: right;
    font-size: 3rem;
    overflow: hidden;
  }
  .card {
    opacity: 0.7;
  }
  @media screen and (max-width: 350px) {
    #idShow {
      display: none
    }
  }
  #idShow {
    position: absolute;
    font-size: 10rem;
    color: #bbbbbb;
    z-index: -1;
    margin-top: -50px;
  }
</style>
{% endblock %}